.venv/
.venv_erdos/
__pycache__/
*.py[cod]
*.sqlite

demo_run/
demo_run_after_fix/
demo_run_after_fix2/
demo_run_after_fix3/
demo_run_dns_fix/
demo_run_final_live/
demo_run_liveprep/

live_state_after_fix/
live_state_after_fix2/
live_state_after_fix3/
live_state_dns_fix/
live_state_final/
live_state_unsandboxed/

live_work/
live_work_after_fix/
live_work_after_fix2/
live_work_after_fix3/
live_work_dns_fix/
live_work_final/
live_work_unsandboxed/

lint_work/
preview_work/
outputs/
test_demo/
